Repository osism/kolla-operations: changes, and which Zuul jobs are due for each by the changed paths.
All: python-black, mixin-ouput-ensure-git-checkin

mixin-ouput-ensure-git-checkin:
  description: Check for differences between monitoring-mixin output and checked in rules/dashboards
  run: .src/playbooks/mixin-ouput-ensure-git-checkin.yml

Remove redundant node-exporter alerts
  prometheus/hardware.rules
Due: none

Remove redundant prometheus/alertmanager rules
  prometheus/prometheus-extra.rules
Due: none

Add tests for whether mixin output is checked-in
  .src/playbooks/mixin-ouput-ensure-git-checkin.yml
  .zuul.yaml
Due: mixin-ouput-ensure-git-checkin

Use monitoring-mixins for dashboards and alerts
  .gitignore
  .src/Containerfile
  .src/Dockerfile
  .src/files/mixins.py
  .src/jsonnetfile.json
  .src/jsonnetfile.lock.json
  .src/mixins/ceph/ceph.libsonnet
  .src/mixins/infrastructure/alertmanager.libsonnet
  .src/mixins/infrastructure/node.libsonnet
  .src/mixins/infrastructure/prometheus.libsonnet
  README.md
  grafana/dashboards/ceph/multi-cluster-overview.json
  grafana/dashboards/ceph/radosgw-overview.json
  grafana/dashboards/infrastructure/alertmanager-overview.json
  grafana/dashboards/infrastructure/node-cluster-rsrc-use.json
  grafana/dashboards/infrastructure/node-rsrc-use.json
  grafana/dashboards/infrastructure/nodes.json
  grafana/dashboards/infrastructure/prometheus-remote-write.json
  grafana/dashboards/infrastructure/prometheus.json
  grafana/provisioning.yaml
  prometheus/alertmanager.rec.rules
  prometheus/alertmanager.rules
  prometheus/ceph.rec.rules
  prometheus/ceph.rules
  prometheus/node.rec.rules
  prometheus/node.rules
  prometheus/prometheus-extra.rules
  prometheus/prometheus.rec.rules
  prometheus/prometheus.rules
Due: python-black, mixin-ouput-ensure-git-checkin

Add blackbox-exporter mixin
  .src/jsonnetfile.json
  .src/jsonnetfile.lock.json
  .src/mixins/infrastructure/blackbox.libsonnet
  grafana/dashboards/infrastructure/blackbox-exporter.json
  prometheus/blackbox.rec.rules
  prometheus/blackbox.rules
Due: mixin-ouput-ensure-git-checkin

[WIP] Add rabbitmq mixin
  .src/jsonnetfile.json
  .src/jsonnetfile.lock.json
  .src/mixins/infrastructure/rabbitmq.libsonnet
  grafana/dashboards/infrastructure/erlang-memory-allocators.json
  grafana/dashboards/infrastructure/rabbitmq-overview.json
  grafana/dashboards/infrastructure/rabbitmq.json
  prometheus/rabbitmq-extra.rules
  prometheus/rabbitmq.rec.rules
Due: mixin-ouput-ensure-git-checkin

Add opensearch-mixin
  .src/jsonnetfile.json
  .src/jsonnetfile.lock.json
  .src/mixins/infrastructure/opensearch.libsonnet
  grafana/dashboards/infrastructure/node-overview.json
  grafana/dashboards/infrastructure/opensearch-cluster-overview.json
  grafana/dashboards/infrastructure/search-and-index-overview.json
  prometheus/opensearch.rec.rules
  prometheus/opensearch.rules
Due: mixin-ouput-ensure-git-checkin

Fix prometheus dashboard
  .src/mixins/infrastructure/prometheus.libsonnet
  grafana/dashboards/infrastructure/prometheus.json
Due: mixin-ouput-ensure-git-checkin

Fix prometheus dashboard (#54)
  .src/mixins/infrastructure/prometheus.libsonnet
  grafana/dashboards/infrastructure/prometheus.json
Due: mixin-ouput-ensure-git-checkin

zuul: add missing repo prefix to job name
  .zuul.yaml
Due: none

zuul: add missing repo prefix to job name (#55)
  .zuul.yaml
Due: none

zuul: add ansible-lint job
  .ansible-lint
  .zuul.yaml
Due: none

zuul: add ansible-lint job (#56)
  .ansible-lint
  .zuul.yaml
Due: none

Check if prometheus fluentd integration is enabled
  prometheus/prometheus.yml.d/60-fluentd-aggregator.yml
Due: none

Remove superfluous fluent_exporter job
  prometheus/prometheus.yml.d/60-fluentd-aggregator.yml
Due: none

Remove superfluous fluent_exporter job (#58)
  prometheus/prometheus.yml.d/60-fluentd-aggregator.yml
Due: none

Update mixins
  .src/jsonnetfile.lock.json
  grafana/dashboards/ceph/ceph-cluster-advanced.json
  grafana/dashboards/ceph/ceph-nvmeof-performance.json
  grafana/dashboards/ceph/ceph-nvmeof.json
  grafana/dashboards/ceph/cephfsdashboard.json
  grafana/dashboards/ceph/host-details.json
  grafana/dashboards/ceph/hosts-overview.json
  grafana/dashboards/ceph/multi-cluster-overview.json
  grafana/dashboards/ceph/osd-device-details.json
  grafana/dashboards/ceph/osds-overview.json
  grafana/dashboards/ceph/pool-detail.json
  grafana/dashboards/ceph/pool-overview.json
  grafana/dashboards/ceph/radosgw-detail.json
  grafana/dashboards/ceph/radosgw-overview.json
  grafana/dashboards/ceph/radosgw-sync-overview.json
  grafana/dashboards/ceph/rbd-details.json
  grafana/dashboards/ceph/rbd-overview.json
  grafana/dashboards/ceph/rgw-s3-analytics.json
  grafana/dashboards/ceph/smb-overview.json
  grafana/dashboards/infrastructure/node-cluster-rsrc-use.json
  grafana/dashboards/infrastructure/node-rsrc-use.json
  grafana/dashboards/infrastructure/nodes.json
  grafana/dashboards/infrastructure/prometheus-remote-write.json
  grafana/dashboards/infrastructure/prometheus.json
  prometheus/alertmanager.rules
  prometheus/ceph.rules
  prometheus/node.rules
  prometheus/prometheus.rules
Due: mixin-ouput-ensure-git-checkin

Update mixins (#59)
  .src/jsonnetfile.lock.json
  grafana/dashboards/ceph/ceph-cluster-advanced.json
  grafana/dashboards/ceph/ceph-nvmeof-performance.json
  grafana/dashboards/ceph/ceph-nvmeof.json
  grafana/dashboards/ceph/cephfsdashboard.json
  grafana/dashboards/ceph/host-details.json
  grafana/dashboards/ceph/hosts-overview.json
  grafana/dashboards/ceph/multi-cluster-overview.json
  grafana/dashboards/ceph/osd-device-details.json
  grafana/dashboards/ceph/osds-overview.json
  grafana/dashboards/ceph/pool-detail.json
  grafana/dashboards/ceph/pool-overview.json
  grafana/dashboards/ceph/radosgw-detail.json
  grafana/dashboards/ceph/radosgw-overview.json
  grafana/dashboards/ceph/radosgw-sync-overview.json
  grafana/dashboards/ceph/rbd-details.json
  grafana/dashboards/ceph/rbd-overview.json
  grafana/dashboards/ceph/rgw-s3-analytics.json
  grafana/dashboards/ceph/smb-overview.json
  grafana/dashboards/infrastructure/node-cluster-rsrc-use.json
  grafana/dashboards/infrastructure/node-rsrc-use.json
  grafana/dashboards/infrastructure/nodes.json
  grafana/dashboards/infrastructure/prometheus-remote-write.json
  grafana/dashboards/infrastructure/prometheus.json
  prometheus/alertmanager.rules
  prometheus/ceph.rules
  prometheus/node.rules
  prometheus/prometheus.rules
Due: mixin-ouput-ensure-git-checkin

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

Path conditions:
  python-black: any of: ^\.src/files/mixins.py$
  mixin-ouput-ensure-git-checkin: any of: ^\.src/.*$
